.header {
    background-color: #1B1B1B;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 72px;
    border-radius: 0px 0px 15px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}

.logo {
    display: flex;
    align-items: center;
}

.logoh1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-left: 5px;
}

.fa-circle-user {
    font-size: 30px;
}

.menu {
    color: white;
    text-decoration: none;
    margin-right: 1rem;
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;


}

.menu:hover {
    border-bottom: 2px solid white;
}
